<div class="navbar navbar-inverse no-select" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="#">pritunl</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dashboard"><a href="#/dashboard"><%= i18n.t('nav.dashboard') %></a></li>
      <li class="users"><a href="#/users"><%= i18n.t('nav.users') %></a></li>
      <li class="servers"><a href="#/servers"><%= i18n.t('nav.servers') %></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="logs"><a><%= i18n.t('nav.logs') %></a></li>
      <li class="change-password"><a><%= i18n.t('nav.settings') %></a></li>
      <li><a class="lang-switch"><%= i18n.t('nav.lang') %></a></li>
      <li class="logout"><a href="#/logout"><%= i18n.t('nav.logout') %></a></li>
    </ul>
  </div>
</div>
