<div class="key-link form-group">
  <label><%= i18n.t("keyLink.descTempProfile") %></label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Download profile"></a>
</div>
<div class="key-zip-link form-group">
  <label><%= i18n.t("keyLink.descTempZip") %></label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Download profile"></a>
</div>
<div class="key-onc-link form-group">
  <label><%= i18n.t("keyLink.descTempChromebook") %></label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Download profile"></a>
</div>
<div class="otp-link form-group">
  <label><%= i18n.t("keyLink.descTempLinks") %></label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Open profile link" target="_blank"></a>
</div>
<div class="uri-link form-group">
  <label><%= i18n.t("keyLink.descTempUri") %></label>
  <input type="text" class="form-control" readonly>
</div>
