<div class="form-group name">
  <label><%= i18n.t('srv.name') %></label>
  <input type="text" class="form-control" placeholder="<%= i18n.t('ph.enterName') %>" data-toggle="tooltip" title="<%= i18n.t('modal.nameOfUser') %>" autocomplete="off" autofocus>
</div>
<div class="form-group org">
  <label><%= i18n.t('modal.selectOrg') %></label>
  <select class="form-control">
    <% _.each(orgs, function(org) { %>
      <option value="<%- org.id %>" <%= (lastOrg === org.id) ? 'selected' : '' %>><%- org.name %></option>
    <% }); %>
  </select>
</div>
<div class="form-group groups">
  <label><%= i18n.t("usr.groups") %></label>
  <div class="groups-label" data-toggle="tooltip" title="<%= i18n.t('modal.enterGroups') %>">
    <input type="text" placeholder="<%= i18n.t('ph.enterGroups') %>">
  </div>
</div>
<div class="form-group email">
  <label><%= i18n.t('usr.email') %> (optional)</label>
  <input type="email" class="form-control" placeholder="<%= i18n.t('ph.enterEmail') %>" data-toggle="tooltip" title="<%= i18n.t('usr.email') %>" autocomplete="off">
</div>
<div class="form-group pin">
  <label><%= i18n.t("usr.pin") %></label>
  <input type="password" class="form-control" placeholder="<%= i18n.t('ph.enterPin') %>" data-toggle="tooltip" title="User pin, required when user connects to vpn. When using with two-factor authentication the pin and two-factor authentication code should both be placed in the password field." autocomplete="new-password">
</div>
<div class="form-group yubikey-id">
  <label><%= i18n.t('modal.yubikeyId') %></label>
  <input type="text" class="form-control" maxlength="12" placeholder="Insert YubiKey" data-toggle="tooltip" title="Insert and touch YubiKey to get ID. Requires Yubico API credentials in settings." autocomplete="off">
</div>
<div class="form-group port-forwarding">
  <label><%= i18n.t('usr.portForward') %></label>
  <input type="text" class="form-control"
    placeholder="<%= i18n.t('ph.enterPortMappings') %>" data-toggle="tooltip"
    title="<%= i18n.t('usr.portForward') %>"
    value="">
</div>
<div class="form-group network-links">
  <label><%= i18n.t('lnk.networkLink') %></label>
  <input type="text" class="form-control"
    placeholder="<%= i18n.t('ph.enterNetworkAddr') %>" data-toggle="tooltip"
    title="<%= i18n.t('usr.networkLink') %>">
</div>
<div class="client-to-client-toggle toggle-form form-group">
  <label><%= i18n.t('usr.clientToClient') %></label>
  <div class="selector no-select" data-toggle="tooltip" title="<%= i18n.t('usr.clientToClient') %>">
    <span class="selector-inner glyphicon glyphicon-ok"></span>
  </div>
</div>
<div class="advanced form-group">
  <div class="form-group auth-type">
    <label><%= i18n.t('modal.link<%= i18n.t('usr.type') %>') %></label>
    <select class="form-control" data-toggle="tooltip" title="<%= i18n.t('usr.auth<%= i18n.t('usr.type') %>') %>">
      <option value="local" selected><%= i18n.t('usr.local') %></option>
      <option value="duo"><%= i18n.t('usr.duo') %></option>
      <option value="azure"><%= i18n.t('usr.azure') %></option>
      <option value="azure_duo"><%= i18n.t('usr.azure') %> + <%= i18n.t('usr.duo') %></option>
      <option value="azure_yubico"><%= i18n.t('usr.azure') %> + Yubico</option>
      <option value="google"><%= i18n.t('usr.google') %></option>
      <option value="google_duo"><%= i18n.t('usr.google') %> + <%= i18n.t('usr.duo') %></option>
      <option value="google_yubico"><%= i18n.t('usr.google') %> + Yubico</option>
      <option value="authzero"><%= i18n.t('usr.authzero') %></option>
      <option value="authzero_duo"><%= i18n.t('usr.authzero') %> + <%= i18n.t('usr.duo') %></option>
      <option value="authzero_yubico"><%= i18n.t('usr.authzero') %> + Yubico</option>
      <option value="slack"><%= i18n.t('usr.slack') %></option>
      <option value="slack_duo"><%= i18n.t('usr.slack') %> + <%= i18n.t('usr.duo') %></option>
      <option value="slack_yubico"><%= i18n.t('usr.slack') %> + Yubico</option>
      <option value="saml"><%= i18n.t('usr.saml') %></option>
      <option value="saml_duo"><%= i18n.t('usr.saml') %> + <%= i18n.t('usr.duo') %></option>
      <option value="saml_yubico"><%= i18n.t('usr.saml') %> + Yubico</option>
      <option value="saml_okta"><%= i18n.t('usr.okta') %></option>
      <option value="saml_okta_duo"><%= i18n.t('usr.okta') %> + <%= i18n.t('usr.duo') %></option>
      <option value="saml_okta_yubico"><%= i18n.t('usr.okta') %> + Yubico</option>
      <option value="saml_onelogin"><%= i18n.t('usr.onelogin') %></option>
      <option value="saml_onelogin_duo"><%= i18n.t('usr.onelogin') %> + <%= i18n.t('usr.duo') %></option>
      <option value="saml_onelogin_yubico"><%= i18n.t('usr.onelogin') %> + Yubico</option>
      <option value="saml_jumpcloud"><%= i18n.t('usr.jumpcloud') %></option>
      <option value="saml_jumpcloud_duo"><%= i18n.t('usr.jumpcloud') %> + <%= i18n.t('usr.duo') %></option>
      <option value="saml_jumpcloud_yubico"><%= i18n.t('usr.jumpcloud') %> + Yubico</option>
      <option value="radius"><%= i18n.t('usr.radius') %></option>
      <option value="radius_duo"><%= i18n.t('usr.radius') %> + <%= i18n.t('usr.duo') %></option>
      <option value="plugin"><%= i18n.t('usr.plugin') %></option>
    </select>
  </div>
  <div class="form-group mac-addresses">
    <label><%= i18n.t('usr.allowedMac') %></label>
    <input type="text" class="form-control"
           placeholder="<%= i18n.t('ph.enterMacAddr') %>" data-toggle="tooltip"
           title="<%= i18n.t('usr.allowedMac') %>">
  </div>
  <div class="form-group dns-servers">
    <label><%= i18n.t('usr.dnsForward') %></label>
    <input type="text" class="form-control"
      placeholder="<%= i18n.t('ph.enterDnsServer') %>" data-toggle="tooltip"
      title="<%= i18n.t('usr.dnsForward') %>">
  </div>
  <div class="form-group dns-suffix">
    <label><%= i18n.t('usr.dnsSuffix') %></label>
    <input type="text" class="form-control"
      placeholder="<%= i18n.t('ph.enterDnsSuffix') %>" data-toggle="tooltip"
      title="<%= i18n.t('usr.dnsSuffix') %>">
  </div>
  <div class="bypass-secondary-toggle toggle-form form-group">
    <label><%= i18n.t('usr.bypassSecondary') %></label>
    <div class="selector no-select" data-toggle="tooltip" title="<%= i18n.t('usr.bypassSecondary') %>">
      <span class="selector-inner glyphicon glyphicon-ok"></span>
    </div>
  </div>
</div>
