<div class="form-group users">
  <label><%= i18n.t("modal.bulkUserDesc") %></label><br>
  <textarea class="form-control" rows="12" placeholder="user1,user1@pritunl.com" spellcheck="false" autofocus></textarea>
</div>
<div class="form-group org">
  <label><%= i18n.t('modal.selectOrg') %></label>
  <select class="form-control">
    <% _.each(orgs, function(org) { %>
      <option value="<%- org.id %>" <%= (lastOrg === org.id) ? 'selected' : '' %>><%- org.name %></option>
    <% }); %>
  </select>
</div>
