<div class="org form-group">
  <label><%= i18n.t('modal.selectOrg') %></label>
  <select class="form-control">
    <% _.each(orgs, function(org) { %>
      <option value="<%- org.id %>"><%- org.name %></option>
    <% }); %>
  </select>
</div>
<div class="server form-group">
  <label><%= i18n.t('modal.selectServer') %></label>
  <select class="form-control">
    <% _.each(servers, function(server) { %>
      <option value="<%- server.id %>" <%= (lastServer === server.id) ? 'selected' : '' %>><%- server.name %></option>
    <% }); %>
  </select>
</div>
