<div class="form-group">
  <div class="form-group name">
    <label><%= i18n.t('srv.name') %></label>
    <input type="text" class="form-control" placeholder="<%= i18n.t("ph.enterName") %>" data-toggle="tooltip" title="Name of location" autofocus>
  </div>
  <div class="form-group link">
    <label><%= i18n.t("lnk.link") %></label>
    <select class="form-control">
      <% _.each(links, function(link) { %>
        <% if (link.type !== 'direct') { %>
          <option value="<%- link.id %>" <%= (lastLink === link.id) ? 'selected' : '' %>><%- link.name %></option>
        <% } %>
      <% }); %>
    </select>
  </div>
</div>
