<div class="layout-horizontal">
  <div class="layout-flex left">
    <div class="name form-group">
      <label><%= i18n.t("srv.name") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t("ph.enterName") %>" data-toggle="tooltip" title="Name of VPN server" value="<%- name %>" autofocus>
    </div>
    <div class="port-protocol form-group">
      <label><%= i18n.t("link.port") %></label>
      <label><%= i18n.t("srv.protocol") %></label>
      <br>
      <input type="text" class="port form-control" placeholder="<%= i18n.t('ph.enterPortNum') %>" data-toggle="tooltip" title="Port number for VPN connections" value="<%- port %>" autocapitalize="off">
      <select class="protocol form-control" data-toggle="tooltip" title="Protocol for VPN connections">
        <option value="udp" <%= protocol === 'udp' ? 'selected' : '' %>>udp</option>
        <option value="tcp" <%= protocol === 'tcp' ? 'selected' : '' %>>tcp</option>
      </select>
    </div>
    <div class="port-wg form-group" <%= wg ? '' : 'style="display: none;"' %>>
      <label><%= i18n.t("srv.wgPort") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t('ph.wgPortNum') %>" data-toggle="tooltip" title="Port number for WG connections" value="<%- port_wg %>" autocapitalize="off">
    </div>
    <div class="form-group groups">
      <label><%= i18n.t("srv.groups") %></label>
      <div class="groups-label" data-toggle="tooltip" title="Enter list of groups to allow connections from. Names are case sensitive. If empty all groups will able to connect">
        <input type="text" placeholder="<%= i18n.t("ph.groups") %>" value="<%- groups ? groups.join(',') : '' %>">
      </div>
    </div>
    <div class="route-dns-toggle toggle-form form-group" style="display: none;">
      <label><%= i18n.t("srv.dnsRouting") %></label>
      <div class="selector <%= route_dns ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Route DNS traffic through VPN to prevent DNS vulnerabilities on malicious networks">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="wg-toggle toggle-form form-group">
      <label><%= i18n.t("srv.enableWg") %></label>
      <div class="selector <%= wg ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enable WG connections on server. WireGuard packages must be installed separately">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="dns-mapping-toggle toggle-form form-group">
      <label><%= i18n.t("srv.vpnDnsMapping") %></label>
      <div class="selector <%= dns_mapping ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Map the vpn clients ip address to the .vpn domain such as example_user.example_org.vpn This will conflict with the DNS port if systemd-resolved is running">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="dns-servers form-group">
      <label><%= i18n.t("srv.dnsServer") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t('ph.dnsServerHint') %>" data-toggle="tooltip" title="Optional, DNS server for clients" value="<%- dns_servers.join(', ') %>" autocapitalize="off">
    </div>
    <div class="network form-group">
      <label><%= i18n.t('lnk.virtualNetwork') %></label>
      <span class="label label-default no-select" toggle="tooltip" title="Maximum number of users for this subnet"></span>
      <input type="text" class="form-control" placeholder="<%= i18n.t('ph.enterNetworkAddr') %>" data-toggle="tooltip" title="Network address for the private network that will be created for clients. This network cannot conflict with any existing local networks" value="<%- network %>" autocapitalize="off">
    </div>
    <div class="network-wg form-group" <%= wg ? '' : 'style="display: none;"' %>>
      <label><%= i18n.t("srv.virtualWgNetwork") %></label>
      <span class="label label-default no-select" toggle="tooltip" title="Maximum number of users for this subnet"></span>
      <input type="text" class="form-control" placeholder="<%= i18n.t('ph.enterWgNetworkAddr') %>" data-toggle="tooltip" title="WG Network address for the private network that will be created for clients. Must have the same CIDR as virtual network. This network cannot conflict with any existing local networks" value="<%- network_wg %>" autocapitalize="off">
    </div>
    <div class="sso-auth-toggle toggle-form form-group">
      <label><%= i18n.t("set.sso") %></label>
      <div class="selector <%= sso_auth ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Require client to authenticate with single sign-on provider on each connection using web browser. Requires client to have access to Pritunl web server port and running updated Pritunl Client.">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="bypass-sso-auth-toggle toggle-form form-group">
      <label><%= i18n.t("set.sso") %></label>
      <div class="selector <%= bypass_sso_auth ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Disable single sign-on verification to allow connections during single sign-on outage. Requires device authentication.">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="device-auth-toggle toggle-form form-group">
      <label><%= i18n.t("srv.deviceAuth") %></label>
      <div class="selector <%= device_auth ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Require administrator to approve every client device using TPM or Apple Secure Enclave. User will be prompted to provide device PIN to administrator when connecting a new device. Requires Pritunl Client running on Linux with a TPM, Windows 11 or macOS with Secure Enclave.">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="otp-auth-toggle toggle-form form-group">
      <label><%= i18n.t("srv.enableGoogleAuth") %></label>
      <div class="selector <%= otp_auth ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enable two-step authentication using Google Authenticator. Verification code is entered as the user password when connecting">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="ipv6-toggle toggle-form form-group">
      <label><%= i18n.t("set.ipv6") %></label>
      <div class="selector <%= ipv6 ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enable IPv6 on server, requires IPv6 network interface">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
  </div>
</div>
<div class="layout-horizontal">
  <div class="layout-flex left advanced">
    <div class="dh-param-bits form-group">
      <label><%= i18n.t("srv.dhBits") %></label>
      <select class="form-control" data-toggle="tooltip" title="Size of DH parameters">
        <option value="1024" <%= dh_param_bits === 1024 ? 'selected' : '' %>>1024</option>
        <option value="1536" <%= dh_param_bits === 1536 ? 'selected' : '' %>>1536</option>
        <option value="2048" <%= dh_param_bits === 2048 ? 'selected' : '' %>>2048</option>
        <option value="3072" <%= dh_param_bits === 3072 ? 'selected' : '' %>>3072</option>
        <option value="4096" <%= dh_param_bits === 4096 ? 'selected' : '' %>>4096</option>
      </select>
    </div>
    <div class="cipher form-group">
      <label><%= i18n.t("srv.encryptionCipher") %></label>
      <select class="form-control" data-toggle="tooltip" title="Encryption cipher used for VPN traffic. AES 128bit is recommended for best bandwidth. Using AES 256bit will impact bandwidth. AES ciphers will use GCM when available">
        <option value="none" <%= cipher === 'none' ? 'selected' : '' %>>None</option>
        <option value="aes128" <%= cipher === 'aes128' ? 'selected' : '' %>>AES 128bit GCM</option>
        <option value="aes256" <%= cipher === 'aes256' ? 'selected' : '' %>>AES 256bit GCM</option>
        <option value="chacha20poly1205" <%= cipher === 'chacha20poly1205' ? 'selected' : '' %>>ChaCha20-Poly1305</option>
      </select>
    </div>
    <div class="ping-interval form-group">
      <label><%= i18n.t("srv.pingInterval") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterPingInterval') %>" data-toggle="tooltip" title="Optional, interval to ping client" value="<%- ping_interval || '' %>" min="0" autocapitalize="off">
    </div>
    <div class="ping-interval-wg form-group" <%= wg ? '' : 'style="display: none;"' %>>
      <label><%= i18n.t("srv.wgPingInterval") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterPingInterval') %>" data-toggle="tooltip" title="Optional, interval to ping WireGuard client" value="<%- ping_interval_wg || '' %>" min="0" autocapitalize="off">
    </div>
    <div class="link-ping-interval form-group">
      <label><%= i18n.t("srv.userPingInterval") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterPingInterval') %>" data-toggle="tooltip"
        title="Optional, time in between pings used when multiple users have the same network link to failover to another user when one network link fails."
        value="<%- link_ping_interval || '' %>" min="0" step="0.1"
        autocapitalize="off">
    </div>
    <div class="inactive-timeout form-group" <%= inactive_timeout ? '' : 'style="display: none;"' %>>
      <label><%= i18n.t("srv.userInactiveTimeout") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterInactiveTimeout') %>" data-toggle="tooltip" title="Optional, disconnect users after the specified number of seconds of inactivity." min="0" step="0.1" value="<%- inactive_timeout || '' %>" autocapitalize="off">
    </div>
    <div class="session-timeout form-group">
      <label><%= i18n.t("srv.userSessionTimeout") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterSessionTimeout') %>" data-toggle="tooltip" title="Optional, disconnect users after the specified number of seconds. Disables automatic reconection" min="0" step="0.1" value="<%- session_timeout || '' %>" autocapitalize="off">
    </div>
    <div class="max-clients form-group">
      <label><%= i18n.t("srv.maxClients") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterMaxClients') %>" data-toggle="tooltip" title="Maximum number of clients connected to a server or to each server replica." min="0" value="<%- max_clients === -1 ? '' : max_clients %>" autocapitalize="off">
    </div>
    <div class="network-mode form-group">
      <label><%= i18n.t("srv.networkMode") %></label>
      <select class="form-control" data-toggle="tooltip" title="Network mode">
        <option value="tunnel" <%= network_mode === 'tunnel' ? 'selected' : '' %>>Tunnel</option>
        <option value="bridge" <%= network_mode === 'bridge' ? 'selected' : '' %>>Bridge</option>
      </select>
    </div>
    <div class="network-start form-group" <%= network_mode === 'bridge' ? '' : 'style="display: none;"' %>>
      <label><%= i18n.t("srv.networkStart") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t('ph.enterStartAddr') %>" data-toggle="tooltip" title="Starting network address for the bridged VPN client IP addresses. Must be in the subnet of the server network" value="<%- network_start %>" autocapitalize="off">
    </div>
    <div class="tun-mtu form-group">
      <label><%= i18n.t("srv.tunnelMtu") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t('ph.enterTunnelMtu') %>" data-toggle="tooltip" title="Optional, connection MTU value. This option sets the OpenVPN and WireGuard tunnel interface MTU value on both the client and server. Changing this option can break client configurations if not updated with configuration sync or reimported. Try adjusting MSS MTU and Fragment MTU before attempting to modify this value. This option should be left blank to allow the server to detect the optimal MTU. Refer to the debugging documentation to resolve MTU issues. Should never exceed 1500" value="<%- tun_mtu || '' %>" autocapitalize="off">
    </div>
    <div class="mss-fix form-group">
      <label><%= i18n.t("srv.mssMtu") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t('ph.enterMssMtu') %>" data-toggle="tooltip" title="Optional, connection MSS fix value. This option sets the maximum segment size for TCP connections. This will only affect OpenVPN connections using TCP. The value will be pushed to the client on connection and does not require client configuration changes. This option should be left blank to allow the server to detect the optimal MTU. Refer to the debugging documentation to resolve MTU issues. Should never exceed 1420" value="<%- mss_fix || '' %>" autocapitalize="off">
    </div>
    <div class="fragment form-group">
      <label><%= i18n.t("srv.fragmentMtu") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t("ph.fragmentMtu") %>" data-toggle="tooltip" title="Optional, fragment MTU value. This controls the maximum UDP packet size. This will only affect OpenVPN connections using UDP. The value will be pushed to the client on connection and does not require client configuration changes. This option should be left blank to allow the server to detect the optimal MTU. Refer to the debugging documentation to resolve MTU issues. Should never exceed 1440" value="<%- fragment || '' %>" autocapitalize="off">
    </div>
    <div class="max-devices form-group">
      <label><%= i18n.t("srv.maxDevices") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterMaxDevices') %>" data-toggle="tooltip" title="Maximum number of devices per client connected to a server." min="0" value="<%- max_devices === -1 ? '' : max_devices %>" autocapitalize="off">
    </div>
    <div class="pre-connect-msg form-group">
      <label><%= i18n.t("srv.preConnectMsg") %></label><br>
      <textarea class="form-control" rows="6" spellcheck="false"><%- pre_connect_msg %></textarea>
    </div>
  </div>
  <div class="right advanced">
    <div class="bind-address form-group">
      <label><%= i18n.t("srv.bindAddress") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t("ph.bindAddress") %>" data-toggle="tooltip" title="Optional, local address to bind vpn server to. Leave empty to bind to all interfaces. Using a bind address disables IPv6 connections and prevents several features from being used. Only use when necessary" value="<%- bind_address || '' %>" autocapitalize="off">
    </div>
    <div class="hash form-group">
      <label><%= i18n.t("srv.hashAlgorithm") %></label>
      <select class="form-control" data-toggle="tooltip" title="Authentication hashing algorithm">
        <option value="md5" <%= hash === 'md5' ? 'selected' : '' %>>MD5</option>
        <option value="sha1" <%= hash === 'sha1' ? 'selected' : '' %>>SHA-1</option>
        <option value="sha256" <%= hash === 'sha256' ? 'selected' : '' %>>SHA-256</option>
        <option value="sha512" <%= hash === 'sha512' ? 'selected' : '' %>>SHA-512</option>
      </select>
    </div>
    <div class="ping-timeout form-group">
      <label><%= i18n.t("srv.pingTimeout") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterPingTimeout') %>" data-toggle="tooltip" title="Optional, timeout for client ping. Must be greater then ping interval" min="0" value="<%- ping_timeout || '' %>" autocapitalize="off">
    </div>
    <div class="ping-timeout-wg form-group" <%= wg ? '' : 'style="display: none;"' %>>
      <label><%= i18n.t("srv.wgPingTimeout") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterPingTimeout') %>" data-toggle="tooltip" title="Optional, timeout for WireGuard client ping. Must be greater then ping interval" min="0" value="<%- ping_timeout_wg || '' %>" autocapitalize="off">
    </div>
    <div class="link-ping-timeout form-group">
      <label><%= i18n.t("srv.userPingTimeout") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t('ph.enterPingTimeout') %>" data-toggle="tooltip" title="Optional, ping timeout used when multiple users have the same network link to failover to another user when one network link fails." min="0" step="0.1" value="<%- link_ping_timeout || '' %>" autocapitalize="off">
    </div>
    <div class="allowed-devices form-group">
      <label><%= i18n.t("srv.allowedDevices") %></label>
      <select class="form-control" data-toggle="tooltip" title="Device types permitted to connect to server.">
        <option value="any" <%= !allowed_devices ? 'selected' : '' %>>Any</option>
        <option value="mobile" <%= allowed_devices === 'mobile' ? 'selected' : '' %>>Mobile</option>
        <option value="desktop" <%= allowed_devices === 'desktop' ? 'selected' : '' %>>Desktop</option>
      </select>
    </div>
    <div class="search-domain form-group">
      <label><%= i18n.t("srv.dnsSearch") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t("ph.dnsSearch") %>" data-toggle="tooltip" title="Optional, DNS search domain for clients. Separate multiple search domains by a comma" value="<%- search_domain || '' %>" autocapitalize="off">
    </div>
    <div class="replica-count form-group">
      <label><%= i18n.t("srv.replicationCount") %></label>
      <input type="number" class="form-control" placeholder="<%= i18n.t("ph.replicationCount") %>" data-toggle="tooltip" title="Replicate server accross multiple hosts." value="<%- replica_count === -1 ? '' : replica_count %>" min="1" autocapitalize="off">
    </div>
    <div class="network-end form-group" <%= network_mode === 'bridge' ? '' : 'style="display: none;"' %>>
      <label><%= i18n.t("srv.networkEnd") %></label>
      <input type="text" class="form-control" placeholder="<%= i18n.t('ph.enterEndAddr') %>" data-toggle="tooltip" title="Ending network address for the bridged VPN client IP addresses. Must be in the subnet of the server network" value="<%- network_end %>" autocapitalize="off">
    </div>
    <div class="multi-device-toggle toggle-form form-group">
      <label><%= i18n.t("srv.allowMultiple") %></label>
      <div class="selector <%= multi_device ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Allow users to connect with multiple devices concurrently">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="debug-toggle toggle-form form-group">
      <label><%= i18n.t("srv.enableDebug") %></label>
      <div class="selector <%= debug ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Show server debugging information in output">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="restrict-routes-toggle toggle-form form-group">
      <label><%= i18n.t("srv.restrictRouting") %></label>
      <div class="selector <%= restrict_routes ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Prevent traffic from networks not specified in the servers routes from being tunneled over the vpn">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="block-outside-dns-toggle toggle-form form-group">
      <label><%= i18n.t("srv.blockOutsideDns") %></label>
      <div class="selector <%= block_outside_dns ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Block outside DNS on Windows clients. Must include DNS server IP in the server routes.">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="inter-client-toggle toggle-form form-group">
      <label><%= i18n.t("srv.interClientRouting") %></label>
      <div class="selector <%= inter_client ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enable inter-client routing across hosts">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="multihome-toggle toggle-form form-group">
      <label><%= i18n.t("srv.multihome") %></label>
      <div class="selector <%= multihome ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enable multihome to allow UDP connections from multiple external IP addresses. This option will add overhead to VPN connections">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="vxlan-toggle toggle-form form-group">
      <label><%= i18n.t("srv.vxlanRouting") %></label>
      <div class="selector <%= vxlan ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Use VXLan for routing client-to-client traffic with replicated servers">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="hide-ovpn-toggle toggle-form form-group">
      <label><%= i18n.t("srv.hideOpenvpn") %></label>
      <div class="selector <%= hide_ovpn ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Hide OpenVPN option on client to force WireGuard connections when it is available.">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="dynamic-firewall-toggle toggle-form form-group">
      <label><%= i18n.t("srv.dynamicClient") %></label>
      <div class="selector <%= dynamic_firewall ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Block VPN server ports by default and open port for client IP address after authenticating with HTTPS request. Requires client to have access to Pritunl web server port and running updated Pritunl Client.">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="geo-sort-toggle toggle-form form-group">
      <label><%= i18n.t("srv.geoSort") %></label>
      <div class="selector <%= geo_sort ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Pritunl Client will sort hosts based on geographical location when attempting to connect to server">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="force-connect-toggle toggle-form form-group">
      <label><%= i18n.t("srv.forceClient") %></label>
      <div class="selector <%= force_connect ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Pritunl Client will prevent user from disabling profiles for this server">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="ipv6-firewall-toggle toggle-form form-group" <%= ipv6 ? '' : 'style="display: none;"' %>>
      <label><%= i18n.t("srv.routedIpv6Firewall") %></label>
      <div class="selector <%= ipv6_firewall ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enabled firewall when routed IPv6 is used">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
    <div class="ovpn-dco-toggle toggle-form form-group">
      <label><%= i18n.t("srv.dataChannelOffload") %></label>
      <div class="selector <%= ovpn_dco ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enable OpenVPN data channel offload, requires OpenVPN DCO kernel module.">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
  </div>
</div>
