<div class="orgs-list">
  <div class="orgs-list-header">
    <h1 class="orgs-list-title title"><%= i18n.t('usr.title') %> & <%= i18n.t('org.title') %></h1>
    <div class="orgs-list-buttons">
      <button type="button" class="header-button orgs-add-org btn btn-primary"><%= i18n.t('org.add') %></button>
      <button type="button" class="header-button orgs-add-user btn btn-primary"><%= i18n.t('usr.add') %></button>
      <button type="button" class="header-button orgs-add-user-bulk btn btn-primary"><%= i18n.t('usr.addBulk') %></button>
      <button type="button" class="header-button orgs-email-selected btn btn-warning" disabled><%= i18n.t('usr.email') %></button>
      <button type="button" class="header-button orgs-del-selected btn btn-danger" disabled><%= i18n.t('common.deleteSelected') %></button>
    </div>
  </div>
  <div class="alerts-container"></div>
  <div class="orgs-list-container">
    <div class="no-orgs">
      <%= i18n.t('common.noData') %>
    </div>
  </div>
  <button type="button" class="prev-page btn btn-primary btn-sm"><%= i18n.t('common.prev') %></button>
  <button type="button" class="next-page btn btn-primary btn-sm"><%= i18n.t('common.next') %></button>
  <div class="pages no-select">
    <div class="links">
      <a class="link first"><%= i18n.t('common.first') %></a>
      <a class="link last"><%= i18n.t('common.last') %></a>
    </div>
  </div>
</div>
