<div class="name-container">
  <span class="name-icon glyphicon glyphicon-globe"></span>
  <a class="route-network title" data-toggle="tooltip" title="Click to modify this route"><%- network %></a>
  <span class="route-network-no-click title"><%- network %></span>
  <span class="route-comment title"><%- comment %></span>
</div>
<div class="button-container">
  <div class="route-vpc-id label label-purple no-select" <%= (advertise || vpc_id) ? '' : 'style="display: none;"' %>><%= i18n.t('lnk.cloudAdvertise') %></div>
  <div class="route-virtual-network label label-danger no-select" <%= (virtual_network && !wg_network) ? '' : 'style="display: none;"' %>><%= i18n.t('lnk.virtualNetwork') %></div>
  <div class="route-virtual-network-wg label label-danger no-select" <%= (virtual_network && wg_network) ? '' : 'style="display: none;"' %>><%= i18n.t('lnk.wgVirtualNetwork') %></div>
  <div class="route-network-link label label-warning no-select" <%= network_link ? '' : 'style="display: none;"' %>><%= i18n.t('lnk.networkLink') %></div>
  <div class="route-nat label label-success no-select" <%= nat && !net_gateway && !nat_netmap ? '' : 'style="display: none;"' %>><%= i18n.t('lnk.nat') %></div>
  <div class="route-nat-netmap label label-success no-select" <%= nat && !net_gateway && nat_netmap ? '' : 'style="display: none;"' %>><%= i18n.t('lnk.natMapped') %></div>
  <div class="route-net-gateway label label-purple no-select" <%= net_gateway ? '' : 'style="display: none;"' %>><%= i18n.t('lnk.netGateway') %></div>
  <div class="route-server-link label label-primary no-select" <%= server_link ? '' : 'style="display: none;"' %>><%= i18n.t('lnk.serverLink') %></div>
  <button type="button" class="server-settings-route btn btn-primary btn-xs"><%= i18n.t('lnk.locationSettings') %></button>
  <button type="button" <%- network === '::/0' || virtual_network || network_link || server_link ? 'disabled' : '' %> class="server-remove-route btn btn-danger btn-xs"><%= i18n.t('lnk.removeRoute') %></button>
</div>
