<div class="servers-list-header">
  <h1 class="servers-list-title title"><%= i18n.t('srv.title') %></h1>
  <div class="servers-list-buttons">
    <button type="button" class="header-button servers-add-server btn btn-primary"><%= i18n.t('srv.add') %></button>
    <button type="button" class="header-button servers-add-route btn btn-primary"><%= i18n.t('srv.routes') %></button>
    <button type="button" class="header-button servers-attach-org btn btn-primary"><%= i18n.t('srv.organizations') %></button>
    <button type="button" class="header-button servers-attach-host btn btn-primary"><%= i18n.t('srv.hosts') %></button>
    <button type="button" class="header-button servers-link-server btn btn-primary"><%= i18n.t('srv.links') %></button>
  </div>
</div>
<div class="alerts-container"></div>
<div class="servers-list-container">
  <div class="no-servers">
    <%= i18n.t('common.noData') %>
  </div>
</div>
<button type="button" class="prev-page btn btn-primary btn-sm"><%= i18n.t('common.prev') %></button>
<button type="button" class="next-page btn btn-primary btn-sm"><%= i18n.t('common.next') %></button>
<div class="pages no-select">
  <div class="links">
    <a class="link first"><%= i18n.t('common.first') %></a>
    <a class="link last"><%= i18n.t('common.last') %></a>
  </div>
</div>
