<div class="no-users">
  <%= i18n.t('common.noData') %>
</div>
<div class="no-users-search">
  <%= i18n.t('common.noData') %>
</div>
<div class="loading">
  <%= i18n.t('common.loading') %>
</div>
<button type="button" class="prev-page btn btn-primary btn-sm"><%= i18n.t('common.prev') %></button>
<button type="button" class="next-page btn btn-primary btn-sm"><%= i18n.t('common.next') %></button>
<div class="pages no-select">
  <div class="links">
    <a class="link first"><%= i18n.t('common.first') %></a>
    <a class="link last"><%= i18n.t('common.last') %></a>
  </div>
</div>
<div class="search-time no-select"></div>
<div class="search-more">
  <a class="no-select"><%= i18n.t('common.showMore') %></a>
</div>
